@using CobrArWeb.Data;
@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script src="~/js/ChatBox.js" asp-append-version="true"></script>
    <script src="~/js/CreateUserPasswordCheck.js" asp-append-version="true"></script>
}
<head>

    <link href="~/css/Home.css" rel="stylesheet" asp-append-version="true" />

</head>


    <div class="container">
                          <h1 class="panel-title">Bienvenue sur CobrAR @ViewBag.UserName</h1>
                    </div>

                    <div class="panel-body">
                        @if (ViewData["IsAuthenticated"] == null || false.Equals(ViewData["IsAuthenticated"]))
                        {
                            @using (Html.BeginForm("Login", "Home"))
                            {
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control-login" placeholder="Nom d'utilisateur" name="name" type="text">
                                    </div>
                                    <div class="form-group">
                    <input class="form-control-login" placeholder="Mot De Passe" name="password" type="password" value="">
                                    </div>

                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                                </fieldset>

                        
            @Html.ActionLink("Créez un compte", "CreateUser", "Home", null, new { id = "createAccountLink" })

            <div id="adminAccessCodeModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Code d'accès administrateur</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="AdminAccessCode">Code d'accès administrateur</label>
                                <input type="password" class="form-control" id="AdminAccessCode" name="AdminAccessCode">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="checkAccessCode">Vérifier</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
                             
                            }
                            @if (Model != null && !string.IsNullOrWhiteSpace(Model.ErrorText))
                            {
                                <div class="alert alert-danger" role="alert">
                                    @Model.ErrorText
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewData["IsAuthenticated"] != null && true.Equals(ViewData["IsAuthenticated"]))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
            <div class="center-buttons">
                <a class="center-button" href="@Url.Action("List", "Product")" class="btn btn-primary">Produits</a>
                <a class="center-button" href="@Url.Action("Caisse", "Cart")" class="btn btn-primary">Caisse</a>
            </div>
        </div>
    </div>
}


@if (ViewData["IsAuthenticated"] != null && true.Equals(ViewData["IsAuthenticated"]))
{

    <input type="hidden" id="user-name" value="@ViewBag.UserName" />

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <div class="chat-box">
                <div id="chat-container">
                    
                    <ul id="chat-messages" data-user-name="@ViewBag.UserName">
                      
                    </ul>
                    <form id="chat-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="chat-message-input" placeholder="Entrez votre message">
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                        @if (ViewData["IsAuthenticated"] != null && true.Equals(ViewData["IsAuthenticated"]) && ViewBag.UserRole == UserRole.Admin)
                        {
                            @if (ViewData["IsAdmin"] != null && true.Equals(ViewData["IsAdmin"]))
                            {
                                <button type="button" class="btn btn-danger" onclick="if (confirm('Êtes-vous sûr de vouloir supprimer tous les messages ?')) { window.location.href='@Url.Action("DeleteMessages", "Home")' }">Supprimer tous les messages</button>
                            }
                        }
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }