@using CobrArWeb.Models.RechercheArbo;
@model List<EquipeViewModel>

@section scripts {
    <script>
        window.onload = function () {
            document.getElementById("carteCadeauBtn").addEventListener("click", function () {
                var ajustementPrix = document.getElementById("ajustementPrix");
                var adjustedTotal = document.getElementById("adjustedTotal");

                if (ajustementPrix.style.display === "none") {
                    ajustementPrix.style.display = "block";
                    adjustedTotal.style.display = "block";
                } else {
                    ajustementPrix.style.display = "none";
                    adjustedTotal.style.display = "none";
                }
            });
        };
    </script>
}

<div class="col-md-4">
    <h3>Panier</h3>

    @if (TempData["WarningMessage"] != null)
    {
        <div class="alert alert-warning">
            @TempData["WarningMessage"]
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Supr</th>
        
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantite</th>
            <th>-/+</th>
            <th>SubTotal</th>
        </tr>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">X</a></td>
               
                <td>@item.Product.Produit</td>
                <td>@item.Product.Prix</td>
                <td>@item.Quantite</td>
                <td><a asp-controller="cart" asp-action="decrement" asp-route-id="@item.Product.Id">-</a></td>
                <td><a asp-controller="cart" asp-action="increment" asp-route-id="@item.Product.Id">+</a></td>
                <td>@(item.Product.Prix * item.Quantite)</td>
                @if (Context.Session.GetString("carteCadeauValue") != null)
                {
                <tr>
                    <td>Carte cadeau</td>
                    <td>- @(Context.Session.GetString("carteCadeauValue")) $</td>
                </tr>
                }
            </tr>

        }
        <tr>
            <td align="right" colspan="6">TOTAL TICKET</td>
            <td>
                <p>Total : @(ViewBag.total ?? 0) $</p>
                <p id="ajustementPrix" style="display: none;">Ajustement du prix : @(ViewBag.ajustementPrix ?? 0) $</p>
                <p id="adjustedTotal" style="display: none;">Total ajusté : @(ViewBag.adjustedTotal ?? ViewBag.total) $</p>

            </td>
           </tr>
    </table>
    <div class="valider">
        <form asp-controller="Cart" asp-action="ContinueShopping" method="post">
            <button type="submit" class="btn btn-primary">Continuer</button>
        </form>
        <form asp-controller="Cart" asp-action="Checkout" method="post">
            <input type="hidden" name="modeDePaiementId" value="1" />
            <button type="submit" class="btn btn-primary">Cash</button>
        </form>
        <form asp-controller="Cart" asp-action="Checkout" method="post">
            <input type="hidden" name="modeDePaiementId" value="2" />
            <button type="submit" class="btn btn-primary">Carte de Débit</button>
        </form>
        <form asp-controller="Cart" asp-action="Checkout" method="post">
            <input type="hidden" name="modeDePaiementId" value="3" />
            <label for="pourcentage">Pourcentage :</label>
            <input type="text" id="pourcentage" name="pourcentage" />
            <button type="submit" class="btn btn-primary">Carte de Crédit</button>
        </form>
        <form asp-controller="Cart" asp-action="Checkout" method="post">
            <input type="hidden" name="modeDePaiementId" value="4" />
            <label for="montantCarteCadeau">Montant de la carte cadeau :</label>
            <input type="text" id="montantCarteCadeau" name="montantCarteCadeau" />
            <button type="submit" class="btn btn-primary" id="carteCadeauBtn">Carte Cadeau</button>
        </form>
                          @if (ViewData["IsAdmin"] != null && true.Equals(ViewData["IsAdmin"]))
{
        <form asp-controller="Cart" asp-action="Checkout" method="post">
            <input type="hidden" name="modeDePaiementId" value="6" />
            <label for="justificationGratuit">Justification pour la commande gratuite :</label>
            <input type="text" id="justificationGratuit" name="justificationGratuit" />
            <button type="submit" class="btn btn-primary">Gratuit</button>
        </form>
}
        </tr>
   
</div>



<script src="~/js/site.js" asp-append-version="true"></script>