@using CobrArWeb.Models.RechercheArbo;
@model List<EquipeViewModel>

@section scripts {
}


<div class="col-md-4">
    <h3>Panier</h3>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Supr</th>
        
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantite</th>
            <th>-/+</th>
            <th>SubTotal</th>
        </tr>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">X</a></td>
               
                <td>@item.Product.Produit</td>
                <td>@item.Product.Prix</td>
                <td>@item.Quantite</td>
                <td><a asp-controller="cart" asp-action="decrement" asp-route-id="@item.Product.Id">-</a></td>
                <td><a asp-controller="cart" asp-action="increment" asp-route-id="@item.Product.Id">+</a></td>
                <td>@(item.Product.Prix * item.Quantite)</td>
            </tr>
        }
        <tr>
            <td align="right" colspan="6">TOTAL TICKET</td>
            <td>
                @ViewBag.total
            </td>
           </tr>
    </table>
    <div class="valider">

        <form asp-controller="Cart" asp-action="ContinueShopping" method="post">
            <button type="submit" class="btn btn-primary">Continuer</button>
        </form>
        <form asp-controller="Cart" asp-action="Checkout" method="post">
            <input type="hidden" name="modeDePaiementId" value="1" />
            <button type="submit" class="btn btn-primary">Cash</button>
        </form>
        <form asp-controller="Cart" asp-action="Checkout" method="post">
            <input type="hidden" name="modeDePaiementId" value="2" />
            <button type="submit" class="btn btn-primary">Carte de Débit</button>
        </form>
        <form asp-controller="Cart" asp-action="Checkout" method="post">
            <input type="hidden" name="modeDePaiementId" value="3" />
            <button type="submit" class="btn btn-primary">Carte de Crédit</button>
        </form>
        <form asp-controller="Cart" asp-action="Checkout" method="post">
            <input type="hidden" name="modeDePaiementId" value="4" />
            <button type="submit" class="btn btn-primary">Carte Cadeau</button>
        </form>
        <form asp-controller="Cart" asp-action="Checkout" method="post">
            <input type="hidden" name="modeDePaiementId" value="5" />
            <button type="submit" class="btn btn-primary">Échange</button>
        </form>
        <form asp-controller="Cart" asp-action="Checkout" method="post">
            <input type="hidden" name="modeDePaiementId" value="6" />
            <button type="submit" class="btn btn-primary">Gratuit</button>
        </form>
        </tr>
   
</div>



<script src="~/js/site.js" asp-append-version="true"></script>