@model List<CobrArWeb.Data.Product>

<table>
    <thead>
        <tr>
            <th>Code Barre</th>
            <th>Produit</th>
            <th>Catégorie</th>
            <th>Sous-Catégorie</th>
            <th>Taille</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Fournisseur</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.CodeBarre</td>
                <td>@product.Produit</td>
                <td>@product.Categorie</td>
                <td>@product.SousCategorie</td>
                <td>@product.Taille</td>
                <td>@product.Quantite</td>
                <td>@product.Prix</td>
                <td>@product.Fournisseur</td>
            </tr>
        }
    </tbody>
</table>
