@using CobrArWeb.Models.RechercheArbo;
@model List<EquipeViewModel>
@section scripts {

}



<table id="product-table">
    <thead>
        <tr>
            <th>Equipe</th>
            <th>Code Barre</th>
            <th>Produit</th>
            <th>Catégorie</th>
            <th>Sous-Catégorie</th>
            <th>Taille</th>
            <th>Quantite</th>
            <th>Prix</th>
            <th>Fournisseur</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipe in Model)
        {
            @foreach (var category in equipe.Categorie)
            {
                @foreach (var souscategory in category.SousCategorie)
                {
                    @foreach (var product in souscategory.Products)
                    {
                        <tr class="table-responsive-md">
                            <td>@equipe.Equipe</td>
                            <td>@product.CodeBarre</td>
                            <td>@product.Produit</td>
                            <td>@category.Categorie</td>
                            <td>@souscategory.Name</td>
                            <td>@product.Taille</td>                 
                            <td>@product.Quantite</td>
                            <td>@product.Prix</td>
                           <td>@product.Fournisseur</td>
                            <td>
                                <a asp-controller="cart" asp-action="buy" asp-route-id="@product.Id">Ajouter Au Panier</a>
                        </tr>
                    }
                }
            }
        }
        <div class="team-buttons">
            <button id="central-button" class="FirstStepSearch">Rosario Central</button>
            <button id="newells-button">Newell's Old Boys</button>
            <button id="boca-button">Boca Juniors</button>
            <button id="river-button">River Plate</button>
            <button id="sanlorenzo-button">San Lorenzo</button>
            <button id="independiente-button">Independiente</button>
            <button id="racing-button">Racing Club</button>
            <button id="afa-button">Selection Argentine</button>
            <button id="otros-button">Otros</button>
            <button id="clear-button">X</button>           
        </div>

         <div class="cat-buttons">
            <button id="maillot-button">Maillots</button>
            <button id="textile-button">Textile</button>
            <button id="bazar-button">Bazar</button>
            <button id="ballons-button">Ballons</button>
            <button id="bebes-button">Bebe</button>
            <button id="ecole-button">Ecole</button>      
        </div>

    </tbody>
</table>


<script src="~/js/site.js" asp-append-version="true"></script>       