@model List<CobrArWeb.Data.Product>

@{
    var team = ViewData["team"] as string;
    var category = ViewData["category"] as string;
}

@foreach (var product in Model)
{
    <tr class="table-responsive-md">
        <td>@product.Equipe.Nom</td>
        <td>@product.Produit</td>
        <td>@product.Categorie.Nom</td>
        <td>@product.SousCategorie.Nom</td>
        <td>@product.Taille.Nom</td>
        <td>@product.Quantite</td>
        <td>@product.Prix</td>
        <td>@product.Fournisseur.Nom</td>
        <td>
            <a asp-controller="cart" asp-action="buy" asp-route-id="@product.Id" asp-route-redirectToPanier="false">Ajouter Au Panier</a>
        </td>
    </tr>
}
